TELEGRAM_BOT_TOKEN='from telegram @BotFather'
TELEGRAM_CHAT_ID=123456789
WEBSITE_URL=https://pflaumax.dev
LAN_IP=192.168.50.173
TEMP_THRESHOLD=85.0
LOAD_THRESHOLD=4.0
DISK_THRESHOLD=90.0
PIHOLE_URL=http://localhost:8080
PIHOLE_PASSWORD=
